<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iyuba.wordtest" >

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity android:name="com.iyuba.wordtest.ui.test.WordTestActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity android:name="com.iyuba.wordtest.ui.WordStepActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity android:name="com.iyuba.wordtest.ui.WordListActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity android:name="com.iyuba.wordtest.ui.detail.WordDetailActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity android:name="com.iyuba.wordtest.ui.TalkshowWordListActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity android:name=".ui.listen.WordListenActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:taskAffinity="com.iyuba.talkshow.junior"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
<!--        <activity android:name="com.iyuba.wordtest.sign.WordSignActivity" />-->
    </application>
</manifest>
